body {
  background-color: black;
  background-image: url(https://garden.spoonflower.com/c/12751950/p/f/m/RHATpcE4l0gerdUkTpHbBYF_29LrMeWX85Bu3YxlfZOOQdmsR0jO1R8/Black%20and%20White%20Stripe%201%22.jpg);
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: green;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: green;
}

/* container hell*/

.blurb {
  background-color: white;
  padding: 5px;
  border: solid;
  border-color: black;
  width: fit-content;
  float: left;
}

.icons {
  background-color: transparent;
  padding: 2px;
  width: fit-content;
  height: fit-content;
  left: 0;
}

.up {
  background-color: white;
  padding: 5px;
  border: solid;
  border-color: black;
  color: darkgreen;
  width: fit-content;
  height: fit-content;
  float: right;
}

.footer {
  background-color: white;
  padding: 5px;
  border: solid;
  border-color: black;
  color: darkgreen;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
}
